<h1>Editing s3_snapshot</h1>

<% form_for(@s3_snapshot) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :snapshot_status %><br />
    <%= f.text_field :snapshot_status %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @s3_snapshot %> |
<%= link_to 'Back', s3_snapshots_path %>
