<h1>Listing homes</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for home in @homes %>
  <tr>
    <td><%=h home.name %></td>
    <td><%= link_to 'Show', home %></td>
    <td><%= link_to 'Edit', edit_home_path(home) %></td>
    <td><%= link_to 'Destroy', home, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New home', new_home_path %>
