<h1>Editing image</h1>

<% form_for(@image) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :ami %><br />
    <%= f.text_field :ami %>
  </p>
  <p>
    <%= f.label :x11 %><br />
    <%= f.check_box :x11 %>
  </p>
  <p>
    <%= f.label :os %><br />
    <%= f.text_field :os %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @image %> |
<%= link_to 'Back', images_path %>
