<p>
  <b>Name:</b>
  <%=h @image.name %>
</p>

<p>
  <b>Ami:</b>
  <%=h @image.ami %>
</p>

<p>
  <b>X11:</b>
  <%=h @image.x11 %>
</p>

<p>
  <b>Os:</b>
  <%=h @image.os %>
</p>


<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
